<div class="card">

<h4 class="center">Forgot your password?</h4>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions button1 center">
    <%= f.button :submit, "Send a mail" %>
  </div>
<% end %>
<div class="center surcouche">
<%= render "devise/shared/links" %>
</div>
</div>
