
<%= link_to dress_path(dress) do  %>
  <div class="card-container">
    <%= cl_image_tag dress.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="description">
      <div class="top">
        <div>
          <h2>Robe <%= dress.brand %></h2>
        </div>
        <div>
          <p>4,5★</p>
        </div>
      </div>
      <div class="down">
        <div>
          <p>Couleur: <%= dress.color %></p>
          <p>Taille: <%= dress.size %></p>
        </div>
        <div>
          <p><%= dress.price %> / Jours</p>
        </div>
      </div>
    </div>
  </div>
<% end %>


