
<div class="card">

<div class="center titre_formulaire">Log in</div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs titres_petit">
      <%= f.input :email,
                  label: false,
                  required: false,
                  autofocus: true,
                  placeholder: "Mail",
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  label: false,
                  required: false,
                  placeholder: "Password",
                  input_html: { autocomplete: "current-password" } %>
      <div class="textdecorationnone"><%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %></div>
    </div>

    <div class="buttonG center">
      <%= f.button :submit, "VALIDEZ" %>
      <% end %>
    </div>

<div class="center liensbasformulaire">
<%= render "devise/shared/links" %>
</div>

