<%= @dresses.each do |dress| %>
  <ul>
    <li><%= dress.brand %></li>
    <li><%= dress.color %></li>
    <li><%= dress.size %></li>
    <li><%= dress.price %></li>
    <li><%= dress.description %></li>
  </ul>
<% end %>
