<div class="cardnewdress">
  <div class="titrepassword center">AJOUTER UNE ROBE</div>
    <%= simple_form_for(@dress) do |f| %>
      <%= f.input :brand, label: false, placeholder: "Marque"%>
      <%= f.input :color, label: false, placeholder: "Couleur" %>
      <%= f.input :size, label: false, collection: ['S', 'XS', 'M', 'L'], default:1%>
      <%= f.input :description, label: false, placeholder: "Description", as: :text %>
      <%= f.input :price, label: false, placeholder: "Prix par jour"%>
      <%= f.input :photo, label: false, placeholder: "Photo", as: :file %>
      <%= f.button :submit, "AJOUTER MA ROBE", class: "buttonG"%>
    <% end %>
  </div>
</div>
