<h1>ADDING NEW DRESS</h1>
coucou

<%= simple_form_for(@dress) do |f| %>
  <%= f.input :brand %>
  <%= f.input :color %>
  <%= f.input :size, collection: ['XS', 'S', 'M', 'L'] %>
  <%= f.input :description, as: :text %>
  <%= f.input :price %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit%>
<% end %>
