

<% if policy(@dress).destroy? %>
  <%= link_to 'SUPPRIMER', dress_path(@dress), method: :delete, data: { confirm: 'Are you sure to delete this dress' } %>
<% end %>

<h3><%= @dress.brand %></h3>
<p><%= @dress.color %></p>
<p><%= @dress.size %></p>
<p><%= @dress.price %></p>
<p><%= @dress.description %></p>
<%= cl_image_tag @dress.photo.key, height: 300, width: 400, crop: :fill %>


<% if policy(Review).new? %>
  <p><%= link_to 'Laisser une review', new_dress_review_path(@dress) %></p>
<% end %>


<% @dress.reviews.each do |f| %>
<ul>
  <li><%= f.description %> <%= f.rating %></li>
</ul>
<% end %>



<% if policy(@dress).can_book? %>
  <p><%= link_to 'Booker cette robe', new_dress_booking_path(@dress) %></p>
<% end %>

<!-- <form action="">
  <input type="text" name="date" class="flatpickr">
</form>
 -->

