
<% if policy(@dress).destroy? %>
  <%= link_to 'SUPPRIMER', dress_path(@dress), method: :delete, data: { confirm: 'Are you sure to delete this dress' } %>
<% end %>

<h3><%= @dress.brand %></h3>
<p><%= @dress.color %></p>
<p><%= @dress.size %></p>
<p><%= @dress.price %></p>
<p><%= @dress.description %></p>
<%= cl_image_tag @dress.photo.key, height: 300, width: 400, crop: :fill %>


<% @dress.reviews.each do |review| %>
  <%= render partial: "shared/review_card", locals: {review: review} %>
<% end %>
