

<div class="show-container">
  <%= cl_image_tag @dress.photo.key, height: 300, width: 400, crop: :fill %>
  <div>
    <div class="title-show">
      <h3>Marque: <%= @dress.brand %></h3>
    </div>
    <div class="dress-info">
      <div class="dress-info-title">
        <p>Couleur: </p>
        <p>Taille:</p>
        <p>Prix:</p>
      </div>
      <div class="dress-info-info">
        <p><%= @dress.color %></p>
        <p><%= @dress.size %></p>
        <p><%= @dress.price %>€ / Jours</p>
      </div>
    </div>
    <div class="description">
      <p>Description: <%= @dress.description %></p>
    </div>
    <div class="dress-button-container">

      <% if policy(@dress).destroy? %>
      <div class="button-dress">
        <%= link_to 'SUPPRIMER', dress_path(@dress), method: :delete, data: { confirm: 'Are you sure to delete this dress' } %>
      </div>
      <% end %>
      <% if !policy(@dress).belong_to_user? %>
        <div class="button-dress">
          <p><%= link_to 'RESERVER', new_dress_booking_path(@dress) %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>


  <% @dress.reviews.each do |review| %>
    <div class="reviews-container">
      <%= render partial: "shared/review_card", locals: {review: review} %>
    </div>
  <% end %>




